@model HelloMvcDemo.Models.Employee
@{
    ViewBag.Title = "MyIndex";
}

<h2>Index</h2>

<div>
    <h2>Employee Details</h2>
    <p>Employee Id : @Model.EmployeeId</p>
    <p>Name : @Model.Name</p>
    <p>City : @Model.City</p>
</div>